@page
@model IndexModel
@{
    ViewData["Title"] = "Baixa Sapiens automatica";
}

<h1>@ViewData["Title"]</h1>
</br>

<div>
    <form id="uploadForm" enctype="multipart/form-data" asp-page-handler="Upload">
        <input type="file" name="file" id="fileInput" />
        <button type="submit">Upload</button>
    </form>
</div>
</br>

<div id="downloadLink" style="display: none;">
    <h2>Converted File</h2>
    <p>Download the converted file:</p>
    <a href="#" id="downloadButton">Download</a>
</div>

</br>
</br>
<div id="executeButton" style="display: none;">
    <h2>Execute Script</h2>
    <p>Execute the converted script:</p>
    <button id="executeScriptButton">Execute</button>
</div>


@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $('#executeScriptButton').click(function (e) {
            e.preventDefault();

            $.ajax({
                url: '/api/excel/ExecuteScript',
                type: 'POST',
                data: { scriptFilePath: $('#downloadButton').attr('href') },
                success: function (data) {
                    alert('Script executado com sucesso!\n\nResultados:\n\n' + data);
                },
                error: function (xhr, status, error) {
                    alert('Ocorreu um erro ao executar o script: ' + xhr.responseText);
                }
            });
        });

        $(document).ready(function () {
            $('#uploadForm').submit(function (e) {
                e.preventDefault();

                var formData = new FormData();
                formData.append('file', $('#fileInput')[0].files[0]);

                $.ajax({
                    url: '/api/excel/ConvertToSql',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                    var downloadLink = $('#downloadButton');
                    downloadLink.attr('href', '/api/excel/DownloadFile?filePath=' + encodeURIComponent(data.convertedFilePath));
                    downloadLink.attr('download', 'Solicitação-(ARRECAD-1585)Teste.sql');
                    $('#downloadLink').show();
                },

                    error: function (xhr, status, error) {
                        alert('Ocorreu um erro ao converter o arquivo: ' + xhr.responseText);
                    }
                });
            });

            $('#downloadButton').click(function (e) {
                e.preventDefault();
                window.location.href = $(this).attr('href');
            });
        });
    </script>
}
